<body>
<div class="container-fluid p-5 bg-light text-center my-3">
  <h3 class="text-muted">
       Charts for the overall districts of the states in India 
       </h3>
  </div>

<div>
<select id="test1" >
<option value="0">Maharashtra</option>
<option value="1">Andhra Pradesh</option>
<option value="2">Tamilnadu</option>
<option value="3">Karnataka</option>
<option value="4">Uttar Pradesh</option>
<option value="5">Delhi</option>
<option value="6">West Bengal</option>
<option value="7">Bihar</option>
<option value="8">Telangana</option>
<option value="9">Assam</option>
<option value="10">Odisha</option>
<option value="11">Gujarath</option>
<option value="12">Rajasthan</option>
<option value="13">kerala</option>
<option value="14">Haryana</option>
<option value="15">Madhya Pradesh</option>
<option value="16">Punjab</option>
<option value="17">Jharkhand</option>
<option value="18">Jammu</option>
<option value="19">Chattisgarh</option>
<option value="20">Uttarakhand</option>
<option value="21">Goa</option>
<option value="22">Pudicherry</option>
<option value="23">Tripura</option>
<option value="24">Manipur</option>
<option value="25">Himachal Pradesh</option>
<option value="26">Chandigarh</option>
<option value="27">Arunachal Pradesh</option>
<option value="28">Nagaland</option>
<option value="29">Andaman and Nicobar Islands</option>
<option value="30">Ladakh</option>
<option value="31">Meghalaya</option>
<option value="32">Sikkim</option>
<option value="33">Daman and Diu</option>
<option value="34">Dadra and Nagar Haveli</option>
<option value="35">Mizoram</option>
<option value="36">Lakshdweep</option>

</select>
</div>

<div class="container my-5">
  <div class="row text-center">
      <div class="col-3 text-warning">
          <h5>Confirmed</h5>
          <p id="confirmed"></p>
      </div>
    </div>
  <canvas id="myChart" ></canvas>
</div>
</body>